.header {
  width: 100%;
  height: auto; /* Allow container height to grow with image */
  overflow: hidden;
  margin-top: 30px;
}

.header-contents img {
  width: 100%;
  height: auto;
   display: block;
  object-fit: contain;
}
