.list-img{
    height:150px;
    width:150px;
}

.list-table-format{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    gap:10px;
    padding:12px 15px;
    border:1px solid #AF3E3E;
    font-size:13px;
}

@media(max-width:600px){
    .list-table-format{
         grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
    }

    .list-img{
        height:70px;
        width:70px;
    }

    .list-table-format .title{
        display:none;
    }
}